<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.irmacard.cardemu"
    android:versionCode="12"
    android:versionName="3.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name="IRMApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_square"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.irmacard.cardemu.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <!-- The singleTask launchmode means that in the recept app list (i.e., this:
                 https://developer.android.com/guide/components/recents.html), the MainActivity
                 always has its own dedicated entry to which intents are routed - as opposed to
                 the MainActivity appearing "on top of" the browser when the browser sends an
                 intent to us. See also
                 https://developer.android.com/guide/topics/manifest/activity-element.html#lmode
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cardemu"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".selfenrol.EnrollSelectActivity"
            android:label="@string/app_name_enroll" />

        <activity
            android:name=".selfenrol.PassportEnrollActivity"
            android:label="@string/app_name_enroll" />

        <activity
            android:name=".selfenrol.DriversLicenseEnrollActivity"
            android:label="@string/app_name_enroll" />

        <activity
            android:name=".disclosuredialog.DisclosureInformationActivity"
            android:label="@string/diclosure_information" />

        <activity
            android:name="org.irmacard.cardemu.credentialdetails.CredentialDetailActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_credential_detail"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.irmacard.cardemu.log.LogActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_log"
            android:screenOrientation="portrait" />

        <activity
            android:name=".preferences.IRMAPreferenceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/preferences">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="schememanager"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SchemeManagerDetailActivity"
            android:label="@string/title_activity_scheme_manager_detail"
            android:parentActivityName=".preferences.IRMAPreferenceActivity" />
    </application>
</manifest>
